.env
.foreman
.git/
.gitignore
.byebug_history
.yo-rc.json
.dockerignore
Dockerfile

tmp/*
log/*.log
/db/*.sqlite3
/db/*.sqlite3-journal
coverage/
opencontrols/
terraform/
config/master.key
public/assets/
public/packs/
public/packs-test/
storage/*
node_modules/
